# Виртуальное окружение 
venv/
.venv/
env/

# Кэш Питона
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Локальные файлы настроек и секреты (на всякий случай)
.env
.git
.gitignore



# Мусор операционных систем
.DS_Store
Thumbs.db