{% for item in items %}
<div class="bg-darkCard/40 border border-white/5 rounded-[2.5rem] overflow-hidden group hover:border-blue-500/50 transition-all duration-500 flex flex-col h-full backdrop-blur-sm relative">
    
    {% if product_type == 'computers' %}
        <a href="{% url 'catalog:detail' item.slug %}" class="absolute inset-0 z-10"></a>
    {% else %}
        <a href="{% url 'catalog:comdetail' item.slug %}" class="absolute inset-0 z-10"></a>
    {% endif %}

    <div class="relative h-72 overflow-hidden bg-black/20">
        <img src="{{ item.main_image.url }}" alt="{{ item.name }}" 
             class="absolute inset-0 w-full h-full object-cover transition-transform duration-1000 group-hover:scale-110">
        
        <div class="absolute top-6 left-6 flex flex-col gap-2">
            <span class="bg-blue-600 text-white text-[9px] font-black uppercase tracking-[0.2em] px-3 py-1.5 rounded-lg shadow-xl shadow-blue-900/40">
                {% if product_type == 'computers' %}Компьютер{% else %}Комплектующие{% endif %}
            </span>
        </div>
    </div>

    <div class="p-8 flex-1 flex flex-col">
        <h3 class="text-xl font-bold text-white mb-4 group-hover:text-blue-400 transition-colors duration-300 leading-tight">
            {{ item.name }}
        </h3>
        
        <div class="space-y-3 mb-8">
            {% if product_type == 'computers' %}
                <div class="flex items-center gap-3">
                    <div class="w-8 h-8 rounded-lg bg-white/5 flex items-center justify-center text-[10px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M9.75 9.75h4.5v4.5h-4.5v-4.5Z" />
</svg></div>
                    <div class="flex flex-col">
                        <span class="text-[9px] text-gray-600 uppercase font-bold tracking-tighter">GPU</span>
                        <span class="text-xs text-gray-300 font-medium">{{ item.gpu|truncatechars:25 }}</span>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <div class="w-8 h-8 rounded-lg bg-white/5 flex items-center justify-center text-[10px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 0 0 2.25-2.25V6.75a2.25 2.25 0 0 0-2.25-2.25H6.75A2.25 2.25 0 0 0 4.5 6.75v10.5a2.25 2.25 0 0 0 2.25 2.25Zm.75-12h9v9h-9v-9Z" />
</svg>
</div>
                    <div class="flex flex-col">
                        <span class="text-[9px] text-gray-600 uppercase font-bold tracking-tighter">CPU</span>
                        <span class="text-xs text-gray-300 font-medium">{{ item.cpu|truncatechars:25 }}</span>
                    </div>
                </div>
                <div class="flex items-center gap-3">
                    <div class="w-8 h-8 rounded-lg bg-white/5 flex items-center justify-center text-[10px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 9.75h19.5v4.5a1.5 1.5 0 0 1-1.5 1.5H3.75a1.5 1.5 0 0 1-1.5-1.5v-4.5Z" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 15.75v1.5m3-1.5v1.5m3-1.5v1.5m3-1.5v1.5m3-1.5v1.5" />
  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 11.25h2.25v1.5H4.5v-1.5Zm4.5 0h2.25v1.5H9v-1.5Zm4.5 0h2.25v1.5H13.5v-1.5Zm4.5 0h2.25v1.5H18v-1.5Z" />
</svg>
</div>
                    <div class="flex flex-col">
                        <span class="text-[9px] text-gray-600 uppercase font-bold tracking-tighter">RAM</span>
                        <span class="text-xs text-gray-300 font-medium">{{ item.ram|truncatechars:25 }}</span>
                    </div>
                </div>
            {% else %}
                <div class="flex items-center gap-3">
                    <div class="w-8 h-8 rounded-lg bg-white/5 flex items-center justify-center text-[10px]">⚙️</div>
                    <div class="flex flex-col">
                        <span class="text-[9px] text-gray-600 uppercase font-bold tracking-tighter">Тип</span>
                        <span class="text-xs text-gray-300 font-medium">{{ item.component_type }}</span>
                    </div>
                </div>
                <p class="text-[11px] text-gray-500 italic leading-relaxed line-clamp-2">
                    {% for p in item.description.short_specs.info %}{{ p }}{% endfor %}
                </p>
            {% endif %}
        </div>

        <div class="mt-auto pt-6 border-t border-white/5 flex items-center justify-between">
            <div class="flex flex-col">
                <span class="text-[9px] text-gray-600 uppercase font-black tracking-widest">Цена</span>
                <span class="text-xl font-black text-white  tracking-tighter">
                    {{ item.price|floatformat:0 }} <span class="text-blue-500 not-italic text-lg">₽</span>
                </span>
            </div>
            
            <div 
            class="flex items-center relative z-30" 
            hx-trigger="cartUpdated from:body">
         {% if product_type == 'computers' %}
            {% include 'cart/includes/item_control.html' with item=item item_type='computer' %}
        {% else %}
            {% include 'cart/includes/item_control.html' with item=item item_type='component' %}
        {% endif %}
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="col-span-full py-20 text-center">
    <div class="text-4xl mb-4">🛸</div>
    <h3 class="text-white font-bold text-xl uppercase tracking-widest">Ничего не найдено</h3>
    <p class="text-gray-500 text-sm mt-2">Попробуй изменить параметры фильтров</p>
</div>
{% endfor %}